.pricing-cards {
  --ff: "Lato", sans-serif;

  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;

  --fs-2: 3rem;
  --fs-p: 1rem;

  --primary-clr: rgb(62, 43, 86);
  --secondary-clr: rgb(255 178 46)
  --secondary-clr-light: #554971;
  --accent-clr: rgb(255 178 46);

  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, 0.25) !important;
  --shadow2: 0 0 15em rgba(0, 0, 0, 0.25) !important;
  --shadow3: 0 0 0.20em rgba(0, 0, 0, 0.25) !important;
  --shadow4: 0 0 5em rgba(0, 0, 0, 0.25) !important;
  --br: 5px;
  
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff);
  background-color: #ffff;
  margin-bottom: 5vh;
  
}

.titulo-cards {
  text-align: center;
  font-size: 4.5rem !important;
}

.pricing-cards h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-l);
  margin: 0 0 0.5em;
  color: #3e2b56;
}

.pricing-cards p {
  margin: 0 0 var(--spacer);
  font-size: 3.5rem;
}

.description-cards h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #000;
}

.big-number-cards {
    font-size: 3rem;
    margin-right: 5px;
    color: #3e2b56;
}

.description-cards {
    width: 50%;
    margin: 0 auto;
    color: #f6d7f9;
}

.pricing-cards strong {
  font-weight: var(--fw-m);
  font-size: 2rem;
  /* text-align: center; */
  /* margin:  0 auto; */
}

.pecas-cards {
    margin: 0;
}

.button-cards {
  display: inline-block;
  background: var(--primary-clr);
  color: white;
  text-decoration: none;
  padding: 1em 1.5em;
  border-radius: var(--br);
  font-weight: var(--fw-b);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  /* height: 25px; */
}

.button--card {
  /* margin-top: var(--spacer); */
  /* height: 25px; */
}

.button-cards:hover {
  color: black;
  box-shadow: var(--shadow2);
  padding: 1em 3.5em;
  transition: 1s;
}

.container-cards {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.pricing__grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: var(--spacer-md);
}

.card {
  border-radius: var(--br);
  background-color: #ffff;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 1s;
}

.card:hover {
    box-shadow: var(--shadow2)
}

.card--important {
  --primary-clr: var(--accent-clr);
}

.card__title {
  margin: 0;
  padding: var(--spacer) 0;
  font-weight: var(--fw-m);
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bgpink {
  background-color: #f6d7f9;
}

.bggreen {
  background-color: #1f4938;
}

.green {
  color: #1f4938 !important;
}

.pink {
  color: #f6d7f9;
}

.card__price {
  color: var(--primary-clr);
  padding: 0.2em var(--spacer-lg);
  margin: 0;
  font-size: 2em;
  font-weight: var(--fw-b);
}

.card__price span {
  font-size: 0.5em;
  font-weight: var(--fw-n);
  margin-right: 0.5vh;
}

.card__body {
  padding: 0 var(--spacer-lg) 2em;
}

@media (max-width: 1600px) {
.container-cards  {
    height: 80%;
    width: 80%;
  }

  .card {
    margin-bottom: 10vh;
  }
}

@media (max-width: 496px) {
  .container-cards  {
    height: 80%;
  }

  .pricing-cards h2 {
    font-size: 1rem;
  }
  .pricing-cards p {
    width: 100%;
  }
  .pricing__grid-cards {
    display: inline-block;
  }
  .card {
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) {
  .container-cards  {
    height: 80%;
    overflow-x: hidden;
  }

  .pricing-cards h2 {
    font-size: 1rem;
  }
  .pricing-cards p {
    width: 100%;
  }
  .pricing__grid-cards {
    display: inline-block;
  }
  .card {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container-cards {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
  }

  .card__price span:first-child {
    display: flex;
  }

  .description-cards{
    width: 100%;
    margin: 0;
    font-size: 1.5 !important;
    text-align: justify;
  }

  .titulo-cards {
    margin-top: 10vh !important;
    font-size: 4.5rem !important;
  }

  .pricing-cards h2 {
    font-size: 1rem;
  }
  .pricing-cards p {
    width: 100%;
  }
  .pricing__grid-cards {
    display: inline-block;
  }
  .card {
    margin-bottom: 30px;
    box-shadow: var(--shadow3);
  }
  .card:hover {
    box-shadow: var(--shadow4);
  }
}